<% @user ||= current_user %>
<div class="stats">
  <tr>
    <th>following</th>
    <th>
      <%= link_to @user.followings.count, following_user_path(@user) %>
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to @user.followers.count, followers_user_path(@user) %>
    </th>
  </tr>
</div>